<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MC Tiers Randomizer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<div class="container">


    <h1>
        MC Tiers Randomizer
    </h1>



    <form method="POST">


        <select name="mode">

            <option value="sword">Sword</option>
            <option value="axe">Axe</option>
            <option value="mace">Mace</option>
            <option value="vanilla">Vanilla</option>
            <option value="smp">SMP</option>
            <option value="uhc">UHC</option>
            <option value="pot">Pot</option>
            <option value="nethpot">NethPot</option>

        </select>



        <select name="region">

            <option value="NA">NA</option>
            <option value="EU">EU</option>
            <option value="AS">AS</option>

        </select>



        <input 
            type="text"
            name="pseudo"
            placeholder="Pseudo joueur"
        >



        <button name="action" value="search">
            Rechercher
        </button>



        <button name="action" value="random">
            Joueur aléatoire
        </button>


    </form>





    {% if error %}

        <div class="error">

            {{ error }}

        </div>

    {% endif %}






    {% if player %}


    <div class="card player-card">


        <!-- Nom -->

        <h2 class="player-name">

            {{ player.name }}

        </h2>




        <!-- Tête Minecraft -->

        <img

            class="head-icon"

            src="https://mc-heads.net/avatar/{{ player.name }}/64"

            alt="Tête joueur"

        >





        <!-- Région -->


        <p>

            Région : {{ player.region }}

        </p>






        <!-- Tier -->


        <div class="tier-box">


            <img

                class="tier-icon"

                src="{{ url_for('static', filename='t' + player.tier|string + '.svg') }}"

                alt="Tier"

            >


            <span>

                Tier T{{ player.tier }}

            </span>


        </div>






        <!-- Position -->


        <p>

            Position : {{ player.pos }}

        </p>






        <!-- Gamemode -->


        <div class="mode-box">


            <img

                class="mode-icon"

                src="{{ url_for('static', filename=player.mode + '.svg') }}"

                alt="Mode"

            >


            <span>

                {{ player.mode|capitalize }}

            </span>


        </div>



    </div>



    {% endif %}




</div>




<script>


document.addEventListener("DOMContentLoaded", () => {


    const card = document.querySelector(".player-card");


    if(card){

        card.classList.add("show");

    }


});


</script>



</body>

</html>
