<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MC Tiers Randomizer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>

<div class="container">

    <h1>MC Tiers Randomizer</h1>


    <form method="POST">

        <select name="mode">
            <option value="sword">Sword</option>
            <option value="axe">Axe</option>
            <option value="mace">Mace</option>
            <option value="smp">SMP</option>
            <option value="vanilla">Vanilla</option>
        </select>


        <select name="region">
            <option value="NA">NA</option>
            <option value="EU">EU</option>
            <option value="AS">AS</option>
        </select>


        <input 
            type="text" 
            name="pseudo" 
            placeholder="Pseudo joueur"
        >


        <button name="action" value="search">
            Rechercher
        </button>


        <button name="action" value="random">
            Joueur aléatoire
        </button>


    </form>



    {% if error %}

    <div class="error">
        {{ error }}
    </div>

    {% endif %}




    {% if player %}

    <div class="player-card">


        <h2 class="player-name">
            {{ player.name }}
        </h2>


        <img 
        class="tier-icon"
        src="{{ url_for('static', filename='t' + player.tier|string + '.svg') }}"
        >


        <p>
            Tier : T{{ player.tier }}
        </p>


        <p>
            Rang régional : #{{ player.rank }}
        </p>


        <p>
            Région : {{ player.region }}
        </p>


        <p>
            Position : {{ player.pos }}
        </p>


    </div>


    {% endif %}



</div>


</body>

</html>
